#slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}

.home__slider {
  width: 300%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.home__slide {
  flex: 1;
  width: 100%;
  min-height: 500px;
  cursor: grab;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home__slide:active {
  cursor: grabbing;
}

#slider-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--global-second-text-color);
  margin: 0 5px;
}

.indicator:hover {
  background-color: var(--global-hover-links-color);
}

.indicator-active {
  background-color: var(--global-hover-links-color);
}

/* bestsellers */

.home__bestsell {
  width: 100%;
  padding: 0px 50px 50px;
  font-size: 1.2rem;
}
.home__bestsell h2{
  text-align: center;
  margin-bottom: 10px;
  font-family: "Raleway-bold";
}
.home__bestsell ul {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.home__bestsell li {
  width: 220px;
  cursor: pointer;
  border-radius: 3px;
}
.home__bestsell li:hover img{
  filter: brightness(0.4);
  transition: filter 0.3s linear;
}

.home__bestsell-content {
  margin: 10px;
}

.home__bestsell-content img {
  width: 100%;
  height: 300px;
}

.home__bestsell-description p {
  margin: 5px 0px;
}
.home__bestsell-description span {
  font-family: "Raleway-bold";
}

/* Best horror books */

.home__best-horrors{
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 50px;
  font-size: 1.2rem;
  position: relative;
}
.home__best-horrors h2{
  margin-bottom: 10px;
  font-family: "Raleway-bold";
}

.home__best-horrors .home__best-horrors-wrapper{
  display: flex;
  width: 75%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.home__best-horrors .home__best-horrors-wrapper .home__best-horrors-link{
  scroll-snap-align: start;
}
.home__best-horrors .home__best-horrors-arrow-right,
.home__best-horrors .home__best-horrors-arrow-left{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.home__best-horrors .home__best-horrors-arrow-right{
  right: 13.5%;
}
.home__best-horrors .home__best-horrors-arrow-left{
  left: 13.5%;
}

.home__best-horrors .home__best-horrors-image{
  width: 150px;
  height: 225px;
  transition: transform 0.5s linear;
}
.home__best-horrors .home__best-horrors-image:hover{
  transform: scale(1.1);
  transition: transform 0.5s linear;
}

.home__best-horrors .home__best-horrors-image img{
  width: 100%;
  height: 100%;
}
