#page .book-list {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 25px;
	flex-flow: wrap row;
	margin: 25px auto;
	padding: 0px 50px;
	font-size: 1.2rem;
 }
 
 #page .book-list .book {
	width: 270px;
	height: 600px;
	padding: 10px;
	background-color: var(--global-hover-links-color);
 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
 }
 #page .book-list .book:hover {
	background-color: var(--global-hover-book-bg);
 }
 #page .book-list .book:hover .book__image{
	filter: brightness(0.4);
 }
 #page .book .book__image {
	width: 100%;
	height: 375px;
 }
 #page .book .book__image img {
	width: 100%;
	height: 100%;
 }
 
 #page .book .book__description p {
	margin: 10px 0px;
 }
 
 #page .book .book__description span {
	font-family: Raleway-bold;
 }
 
 #page #main-button{
	cursor:pointer;
 }
 
 #page .book__buttons-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
 }

 /* section-icons */

.category-item{
	padding: 25px 50px 0px;
	font-size: 1.2rem;
}
.category-item__wrapper{
  display: flex;
  justify-content: center;
  gap: 100px;
  border-bottom: 2px solid var(--global-second-sections--background);
  border-top: 2px solid var(--global-second-sections--background);
  padding: 25px 0px;
}

.category-item__wrapper a {
	padding: 20px;
	text-align: center;
}
.category-item__wrapper a:hover{
	background-color: var(--global-hover-links-color);

}

.category-item__wrapper img{
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
} 